:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.background {
  background: url(images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.title {
  padding: 1% 0;
  color: white;
}

.address-input {
  border-radius: 10px;
  width: 80%;
  min-height: 3rem;
  text-indent: 1rem;
  border: none;
}

.input-btn {
  background-color: black;
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 3.1rem;
  width: 3rem;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Ip address result styles */

.ip-address-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 70%;
  margin-left: 15%;
  margin-top: 1rem;
  border-radius: 25px;
}

.vertical-line {
  display: none;
}

.result-title {
  font-size: 0.8rem;
  color: var(--dark-gray);
}

.container {
  width: 100%;
  text-align: center;
}

.result {
  font-weight: bolder;
}

/* Media Queries */

@media (min-width: 800px) {
  body {
    background-color: green;
  }

  .background {
    height: 20rem;
  }

  .title {
    font-size: 3rem;
    padding: 1rem;
  }

  .address-input {
    width: 50%;
    padding: 2rem;
  }

  .input-btn {
    right: 22rem;
    width: 5rem;
    height: 5rem;
  }

  .ip-address-results {
    flex-direction: row;
    margin-top: 2em;
    min-height: 10rem;
    align-items: baseline;
    justify-content: flex-start;
  }
  .container {
    text-align: start;
    padding-top: 1rem;
    padding-left: 2rem;
  }

  .result-title {
    font-size: 1rem;
  }
  .result {
    font-size: 1.5rem;
  }

  .vertical-line {
    display: inline;
    width: 1px;
    height: 5rem;
    background-color: var(--dark-gray);
    align-self: center;
    opacity: 0.5;
  }
}

/* Attribution styles */
.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
