*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  margin: 0;
}

/* Body container styles */

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
}

/* Price container styles */

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4em;
  align-items: stretch;
  width: 100%;
  background-color: white;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
  max-width: 280px;
  padding: 2rem;
  flex-basis: 0;
  border-radius: 5px;
  position: relative;
}

.middle-container {
  background-color: rgb(250, 175, 35);
  padding-top: -2.5rem;
  color: white;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.4);
  margin-top: -2rem;
  padding-top: 4rem;
  margin-bottom: -2rem;
  padding-bottom: 4rem;
}

.price-container:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: -2rem;
  padding-top: 4rem;
  margin-bottom: -2rem;
  padding-bottom: 4rem;
}

.price-container:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Price styles */
.price {
  display: flex;
  justify-content: center;
}

.price-symbol {
  font-size: 1.5rem;
  margin-top: 3.5em;
}

.price-value {
  font-size: 5rem;
}

.price-per-month {
  font-size: 1.5rem;
  margin-top: 5.5em;
}

.price-name {
  font-weight: bold;
}

.text--center {
  margin: auto;
  width: 50%;
}

/* feature list styles */
.feature-list {
}

.text--inactive {
  text-decoration: line-through;
  opacity: 0.3;
  font-size: 0.9rem;
}

/* Button Styles */

.normal-button,
.middle-button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}

.normal-button {
  color: white;
  background-color: orange;
}

.middle-button {
  color: rgb(214, 139, 0);
}

.popular {
  background-color: white;
  border: 1px solid gold;
  border-radius: 5px;
  color: black;
  position: absolute;
  padding: 0.25rem 0.5rem;
  top: 10px;
  right: 15px;
  font-size: 0.8rem;
  margin: 0;
}

/* Checkmark styles */

#checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #c9ff00;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#checkmark:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px;
}

#checkmark:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px;
}
